// 列表页面搜索区域表单样式
.c-search-form {
  &.ant-form {
    display: flex;
    flex-wrap: wrap;

    .ant-form-item {
      display: flex;
      padding-right: 12px !important;
      padding-left: 12px !important;
      margin-right: 0;
      margin-bottom: 12px;
      margin-bottom: 19px;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      > .ant-form-item-label {
        line-height: 32px;
        padding-right: 8px;
        width: auto;
      }

      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }

    .c-search-form__advanced {
      display: flex;
      justify-content: end;
      align-items: start;
      padding-top: 5px;
      margin-bottom: 10px;
      flex: 1;
    }
  }
}

// 详情页面表单样式
.c-detail-form {
  &.ant-form {
    .ant-form-item {
      margin-right: 0;
      margin-bottom: 19px;

      &.ant-form-item-with-help {
        margin-bottom: 0;
      }
    }
  }
}
