@import "../../node_modules/ant-design-vue/es/style/themes/default.less";

:root {
  --primary-color: #3a8ee6;
  --primary-color-100: #3a8ee6;
  --primary-color-200: #3a8ee6;
  --primary-color-300: #3a8ee6;
  --primary-color-400: #3a8ee6;
  --primary-color-500: #3a8ee6;
  --primary-color-600: #3a8ee6;
  --primary-color-700: #3a8ee6;
  --primary-color-800: #3a8ee6;
  --primary-color-900: #3a8ee6;
}
