@import "ant-design-vue/es/style/themes/default";

@basicLayout-prefix-cls: ~"@{ant-prefix}-pro-basicLayout";
@basicLayout-fixheader-prefix-cls: ~"@{ant-prefix}-pro-fixedheader";
@sider-menu-prefix-cls: ~"@{ant-prefix}-pro-sider-menu";
@nav-header-height: @layout-header-height;

.@{basicLayout-prefix-cls} {
  // BFC
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;

  .ant-layout-header {
    &:not(.ant-pro-top-menu) {
      background: @component-background;
    }

    &.ant-pro-fixed-header {
      position: fixed;
      top: 0;
    }
  }

  &-content {
    position: relative;
    // margin: 16px !important;
    transition: all 0.2s;
    .@{ant-prefix}-pro-page-header-wrap {
      margin: -24px -24px 0;
    }

    &-disable-margin {
      margin: 0;
      > div > .@{ant-prefix}-pro-page-header-wrap {
        margin: 0;
      }
    }

    > .ant-layout {
      max-height: 100%;
    }
  }

  // append hook styles

  .ant-layout-sider-children {
    height: 100%;
  }

  .trigger {
    padding: 0 24px;
    font-size: 18px;
    transition: color 0.3s;
    line-height: 64px;
    cursor: pointer;

    &:hover {
      color: #1890ff;
    }
  }

  &-content {
    position: relative;
    // margin: 24px;
    transition: all 0.2s;
    .@{ant-prefix}-pro-page-header-wrap {
      margin: -24px -24px 0;
    }

    .ant-pro-grid-content {
      padding: 16px;
    }

    &-disable-margin {
      margin: 0;
      > div > .@{ant-prefix}-pro-page-header-wrap {
        margin: 0;
      }
    }

    > .ant-layout {
      max-height: 100%;
    }
  }

  .color-picker {
    margin: 10px 0;
  }
}

// fixheader 的样式
.@{basicLayout-fixheader-prefix-cls} {
  height: 100%;

  .ant-layout {
    height: 100%;

    &-content {
      flex: 1 !important;

      .ant-pro-basicLayout-children-content-wrap {
        overflow: auto;
        height: 100%;

        .ant-pro-grid-content {
          height: 100%;
        }
      }
    }
  }
}
