.ant-layout-sider {
  .ant-menu {
    // Firefox
    scrollbar-width: none; // 默认隐藏

    // 默认隐藏滚动条
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
    }

    // 悬停或滚动时显示滚动条
    &:hover::-webkit-scrollbar,
    &:active::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
    }

    &:hover::-webkit-scrollbar-thumb,
    &:active::-webkit-scrollbar-thumb {
      display: none;
      background: hsla(0deg, 0%, 0%, 0.2);
      border-radius: 0;
    }

    &:hover::-webkit-scrollbar-track,
    &:active::-webkit-scrollbar-track {
      display: none;
      background: transparent;
    }
  }
}
